table { 
  margin: auto;
  border: 1px solid black;
}

th {
  padding: 3px 5px;
  background-color: pink;
  min-width: 100px;
}

td {
  padding: 3px 5px;
  background-color: lightgrey;
  min-width: 100px;
}

thead tr {
  display: block;
  position: relative;
}

tbody {
  display: block;
  overflow: auto;
  height: 500px;
}
