body {
  background: linear-gradient(skyblue, white 450px, yellowgreen 0);
  height: 100vh;

  display: flex;
  justify-content: space-around;
}

.ball {
  width: 0; 
  height: 0; 
  padding: 1.5em;
  border-radius: 50%;
  background: red radial-gradient(at 30% 30%, #fdd, red);
}

@keyframes bounce1 {
  60%, 80%, to {
    transform: translatey(400px);
    animation-timing-function: ease;
  }

  70% { 
    transform: translatey(300px);
  }

  90% { 
    transform: translatey(360px); 
  }
}

@keyframes bounce2 {
  60%, 80%, to {
    transform: translatey(400px);
  }

  70% { 
    transform: translatey(300px);
  }

  90% { 
    transform: translatey(360px); 
  }
}

.first {
  animation: bounce1 2s cubic-bezier(.1, .25, 1, .25) forwards;
}

.second {
  animation: bounce2 2s cubic-bezier(.1, .25, 1, .25) forwards;
}
